.App, body{
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-image: url('./../oak-lab.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.App main {
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.Search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
 
}