.PokemonList {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 0 20px;
  align-items: center;
}

.PokemonList :hover {
  transform: translate(-1px, -1px) scale(1.2);
  box-shadow: 2px 2px 2px gray;
}